@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
  line-height: 1.7;
  position: relative;
  background: url(images/bg.jpg) no-repeat center center / cover;
  height: 100vh;
  box-sizing: border-box;
}

.container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 640px;
  background: linear-gradient(to right bottom, #323941, #061018);
  border-radius: 20px;
  box-shadow: 0px 56px 72px -30px rgba(50, 55, 63, 0.66);
  overflow: hidden;
}

.screen-1{
  position: relative;
  padding: 20px 20px;
}

.screen-1 h1 {
  margin: 20px 10px 0 10px;
  font-weight: 400;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.473);
}

.screen-1 h1 span{
  font-weight: 600;
  font-size: 28px;
  color: #fff;
}

.screen-1 .album-title {
  margin: 40px 10px 0 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.screen-1 .album-title h2 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.473);
  font-weight: 600;
}

.screen-1 .album-title h2:last-child {
  font-weight: 400;
  font-size: 16px;
}

.screen-1 .albums {
  margin-top: 40px;
}

.screen-1 .albums-1 {
  display: flex;
  background: url(images/bg-3.jpg) bottom center / cover;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 2px 10px 2px rgba(24, 24, 26, 0.66);
  cursor: pointer;
  border: 5px solid rgb(158, 158, 158);
}

.screen-1 .albums-1 .left {
  flex: 1;
}

.screen-1 .albums-1 .left p {
  font-size: 12px;
  font-weight: 500;
  color: #ff4141;
}

.screen-1 .albums-1 .left h2 {
  font-size: 18px;
  color: #ff4141;
  line-height: 1.2;
}

.screen-1 .albums-1 .album-release {
  position: absolute;
  bottom: 5px;
  font-weight: 600;
  font-size: 14px;
  color: #ff4141;
  opacity: 0;
}

.screen-1 .albums .album-row {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.screen-1 .albums .album-row .album-2 {
  background: url(images/bg-2.jpg) no-repeat center center /cover;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 2px 10px 2px rgba(24, 24, 26, 0.66);
  border: 5px solid rgb(158, 158, 158);
}

.screen-1 .albums .album-row .album-2 img {
  margin-top: 20px;
  width: 90%;
}

.screen-1 .albums .album-row .album-2 .left {
  text-align: left;
}

.screen-1 .albums .album-row .album-2 .left p {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
}

.screen-1 .albums .album-row .album-2 .left h2 {
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
}

.screen-1 .albums .album-row .album-3 {
  background: url(images/bg-1.jpg) no-repeat left center /cover;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 2px 10px 2px rgba(24, 24, 26, 0.66);
  border: 5px solid rgb(158, 158, 158);
}

.screen-1 .albums .album-row .album-3 img {
  margin-top: 20px;
  width: 95%;
}

.screen-1 .albums .album-row .album-3 .left {
  text-align: left;
}

.screen-1 .albums .album-row .album-3 .left p {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
}

.screen-1 .albums .album-row .album-3 .left h2 {
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
}

.screen-1 .play-row h3 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.463);
  font-weight: 600;
  position: absolute;
  top: 35.5%;
  left: -100px;
  opacity: 0;
}

.screen-1 .play-row .play-button {
  margin-left: auto;
  width: 40px;
  height: 40px;
  border-radius: 1000px;
  background: linear-gradient(to right bottom, #21b9d2, #ffa000);
  box-shadow: 0px 2px 10px 2px rgba(23, 24, 26, 0.66);
  position: absolute;
  right: 20px;
  top: 35%;
  transform: scale(0);
  cursor: pointer;
}

.screen-1 .album-desc {
  position: absolute;
  top: 100%;
  margin-top: 30px;
  color: rgba(255, 255, 255, 0.473);
  font-size: 14px;
  line-height: 2;
  margin-right: 10px;
  padding: 0 0px;
}

.screen-1 .song {
  position: absolute;
  display: flex;
  width: 89%;
  align-items: center;
  left: -100%;
}

.screen-1 .back-button {
  height: 20px;
  width: 20px;
  fill: rgba(255, 255, 255, 0.473);
  position: absolute;
  bottom: -25%;
  left: 25px;
  cursor: pointer;
  -webkit-tab-highlight-color: rgba(255, 255, 255, 0)
}

.screen-1 .back-button-2 {
  height: 20px;
  width: 20px;
  fill: rgba(255, 255, 255, 0.473);
  position: absolute;
  bottom: -25%;
  left: 24px;
  cursor: pointer;
  -webkit-tab-highlight-color: rgba(255, 255, 255, 0)
}

.screen-1 .play-row .play-button svg {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 54%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.screen-1 .song p {
  color: rgba(255, 255, 255, 0.473);
}

.screen-1 .song h4 {
  margin-left: 20px;
  color: rgba(255, 255, 255, 0.473);
}

.screen-1 .song svg {
  margin-left: auto;
  fill: rgba(255, 255, 255, 0.473);
  width: 20px;
  height: 20px;
}

.screen-1 .song-1 {
  top: 27%;
}

.screen-1 .song-2 {
  top: 36%;
}

.screen-1 .song-3 {
  top: 45%;
}

.screen-1 .song-4 {
  top: 54%;
}

.screen-1 .song-5 {
  top: 63%;
}

.screen-1 .song-6 {
  top: 72%;
}

.screen-1 .song-7 {
  top: 81%;
}

.screen-1 .song-8 {
  top: 90%;
}